apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# "USA TODO LO QUE ESTÁ EN ../../base/"
resources:
- ../../base              # REFERENCIA A LA CARPETA BASE
- ingress.yaml

# PATCHES QUE MODIFICAN LOS RECURSOS BASE
patchesStrategicMerge:
- task-scheduler-patch.yaml   #  MODIFICA EL DEPLOYMENT BASE

# ESCALA LAS RÉPLICAS PARA PRODUCCIÓN
replicas:
- name: task-scheduler-frontend
  count: 2
- name: task-scheduler-backend
  count: 1

# REEMPLAZA LA IMAGEN DEL DEPLOYMENT BASE
images:
- name: task-scheduler-frontend
  newName: 226633502530.dkr.ecr.us-east-1.amazonaws.com/task-scheduler-frontend
  newTag: latest
- name: task-scheduler-backend
  newName: 226633502530.dkr.ecr.us-east-1.amazonaws.com/task-scheduler-backend
  newTag: latest
