# ServiceAccount for kubectl-runner
# Note: namespace will be added by kustomization.yaml
apiVersion: v1
kind: ServiceAccount
metadata:
  name: kubectl-runner
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::226633502530:role/kubectl-runner-role
---
# RoleBinding in task-scheduler namespace (SOLO LECTURA - protegido)
# Note: namespace will be added by kustomization.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: kubectl-runner-readonly-self
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: kubectl-runner-readonly
subjects:
- kind: ServiceAccount
  name: kubectl-runner
