apiVersion: apps/v1
kind: Deployment
metadata:
  name: namespace-frontend
  namespace: auto-shutdown
spec:
  replicas: 2
  selector:
    matchLabels:
      app: namespace-frontend
  template:
    metadata:
      labels:
        app: namespace-frontend
    spec:
      containers:
        - name: frontend
          image: ""
          ports:
            - containerPort: 8080
